@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h3>Create New User</h3><br />
        <p><a class="btn btn-primary btn-lg hover-red" href="~/Users/Create">Create New User</a><br /><br /></p>
        
    </div>
    <div class="col-md-6">
        <h3>List of Users</h3><br />
        <p><a class="btn btn-primary btn-lg" href="~/Users/Index">List of Users</a><br /><br /></p>
    </div>
</div>
